%h1= @annoyer.title
%hr
.row
  .col-md-8.col-md-offset-2
    #nodes_container
%hr
.row
  .col-md-8.col-md-offset-2
    #reminders_container
%hr
= link_to annoyer_path(@annoyer), method: :delete, data: { confirm: 'Are you sure?' } do
  %span.btn.btn-danger.btn-sm.pull-right{ :style => "margin-bottom:20px;" }
    Delete this annoyer
    %span.pull-right.glyphicon.glyphicon-trash{ :style => "font-size:16px;margin-left:5px;" }
= link_to edit_annoyer_path(@annoyer) do
  .clearfix
    %span.btn.btn-primary.btn-sm.pull-right{ :style => "margin-bottom:20px;" }
      Edit this annoyer
      %span.pull-right.glyphicon.glyphicon-cog{ :style => "font-size:16px;margin-left:5px;" }
= javascript_include_tag 'react_compiled', 'data-turbolinks-track' => true
