- if object.errors.any?
  .alert.alert-danger.alert-dismissable
    %button.close{ :type => 'button', :data => { :dismiss => 'alert' } }
      %span.glyphicon.glyphicon-remove
    %strong There has been an error:
    %div= object.errors.full_messages.first
