<h1>Welcome to "DoItAgain"</h1>
<p>
  DoItAgain strives to manage your routine tasks and everyday proceedures.
  You ever felt like: "When did I water the flowers the last time?" or "when was
  the last time i took my Pills to survive the week or don't get pregnant?".
  DoItAgain sets an and to this torture.
</p>
