<!DOCTYPE html>
<html>
<head>
  <title>DoItAgain</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/annoyers">Your Dashboard</a></li>
      <li role="presentation"><a href="/annoyers/new">Add a new Annoyer</a></li>
    </ul>
  </div>
  <div id="header">
    <div class="container">
      <h1>DoItAgain</h1>
      <p>manage your annoyers, but let them just help you</p>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
